@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: rgb(3, 4, 94);
  --skyblue: rgb(0, 119, 182);
  --aqua: rgb(0, 180, 216);
  --lightAqua: rgb(144, 224, 239);
  --light: rgb(202, 240, 248);
}
